@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1c222a;
}


.border-hover {
  position: relative;
  transition: all 0.3s ease;
  display: inline-block;
}

.border-hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #14b8a6; /* teal-500 */
  transition: width 0.3s ease;
}

.border-hover:hover {
  transform: scale(1.3);
}

.border-hover:hover::after {
  width: 100%;
}

.zoom-hover {
  transition: all 0.3s ease;
}

.zoom-hover:hover {
  transform: scale(1.1);
  background: #14b8a6;
  color: white;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.scroll-wrapper {
  animation: infiniteScroll 30s linear infinite;
}

.scroll-wrapper:hover {
  animation-play-state: paused;
}

.skill-box {
  @apply w-16 h-16 rounded-full flex items-center justify-center
         hover:scale-110 transition duration-300 cursor-pointer;
}